# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# hyper
/hyper/.hyper_plugins/cache/
/hyper/.hyper_plugins/node_modules/

# atom config contains OAuth token
atom/.atom/config.cson
