#!/usr/bin/env bash

# Replace cat with bat
alias cat='bat'

# Combine fzf and bat for a pretty file preview
alias preview="fzf --preview 'bat --color \"always\" {}'"

# Improved grep
alias search='ack -B'

# Improved help
alias help='tldr'

# Dotfiles
alias dotfiles='cd ~/dotfiles'